<a href="{{debian_uri}}"><h2>Debian navigation</h2></a>
<ul class="menu">
  {{^cross_suite_arch_nav}}
  <h4>Suite/architecture overviews</h4>
  {{/cross_suite_arch_nav}}
  {{#cross_suite_arch_nav}}
  <h4>Change suite/architecture</h4>
  {{/cross_suite_arch_nav}}
  {{#arch_nav}}
  <li>
    Tested architectures:
    <ul class="children">
      <li>
      {{#arch_list}}
        {{#uri}}
        <a class='{{class}}'
           href="{{uri}}">
          {{a}}
        </a>
        {{/uri}}
      {{/arch_list}}
      </li>
    </ul>
  </li>
  {{/arch_nav}}
  {{#suite_nav}}
  <li>Tested suites:
    <ul class="children">
      <li>
      {{#suite_list}}
        {{#uri}}
        <a class='{{class}}'
           href="{{uri}}">
          {{s}}
        </a>
        {{/uri}}
      {{/suite_list}}
      </li>
    </ul>
  </li>
  {{/suite_nav}}
  <h4>Test results statistics</h4>
  <li {{#suite_arch_stats}}class='active'{{/suite_arch_stats}}>
    Results for
    <a href="/debian/{{suite}}/index_suite_{{arch}}_stats.html"
       title="Overview for {{suite}}/{{arch}}">
      <b>{{suite}}/{{arch}}</b>
    </a>
    <ul class="children">
      <li>
        Unreproducible packages:
        <ul class="children">
          <li {{#notes}}class='active'{{/notes}}>
            <a href="/debian/{{suite}}/{{arch}}/index_notes.html"
               title="Show all packages with known issues or notes">
              with notes
            </a>
          </li>
          <li {{#no_notes}}class='active'{{/no_notes}}>
            <a href="/debian/{{suite}}/{{arch}}/index_no_notes.html"
               title="Show all packages that have not been investigated">
              without notes
            </a>
          </li>
        </ul>
      </li>
      <li>Other package states:<ul class="children">
        <li>
        <a href="/debian/{{suite}}/{{arch}}/index_reproducible.html"
           target="_parent" title="reproducible">
          <img src="/static/weather-clear.png" alt="reproducible icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_FTBR.html" target="_parent"
           title="unreproducible">
          <img src="/static/weather-showers-scattered.png" alt="FTBR icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_FTBFS.html" target="_parent"
           title="Failed To Build From Source">
          <img src="/static/weather-storm.png" alt="FTBFS icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_timeout.html" target="_parent"
           title="Build timed out">
          <img src="/static/Current_event_clock.png" alt="timeout icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_depwait.html" target="_parent"
           title="failed to install build dependencies">
          <img src="/static/weather-snow.png" alt="depwait icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_not_for_us.html" target="_parent"
           title="should not build on this architecture">
          <img src="/static/weather-few-clouds-night.png" alt="not_for_us icon" />
            </a>
        <a href="/debian/{{suite}}/{{arch}}/index_404.html" target="_parent"
           title="failed to download the source package">
          <img src="/static/weather-severe-alert.png" alt="404 icon" />
        </a>
        <a href="/debian/{{suite}}/{{arch}}/index_blacklisted.html" target="_parent"
           title="blacklisted">
          <img src="/static/error.png" alt="blacklisted icon" />
        </a>
        </li>
      </ul></li>
      {{#include_pkgset_link}}
      <li {{#pkg_set}}class='active'{{/pkg_set}}>
        <a href="/debian/{{suite}}/{{arch}}/index_pkg_sets.html"
           title="Show stats for tracked sets of packages">
          package sets
        </a>
      </li>
      {{/include_pkgset_link}}
      <li>Recently tested packages:<ul>
          <li {{#last_24h}}class='active'{{/last_24h}}>
            <a href="/debian/{{suite}}/{{arch}}/index_last_24h.html"
               title="Show packages tested in the last 24 hours">
            last 24h
        </a></li>
          <li {{#last_48h}}class='active'{{/last_48h}}>
            <a href="/debian/{{suite}}/{{arch}}/index_last_48h.html"
               title="Show packages tested in the last 48 hours">
            last 48h
        </a></li>
      </ul></li>
      <li {{#all_abc}}class='active'{{/all_abc}}>
        <a href="/debian/{{suite}}/{{arch}}/index_all_abc.html"
           title="Show all tested packages (in alphabetical order!)">
          all tested packages
        </a>
      </li>
    </ul>
  </li>
  <li {{#scheduled}}class='active'{{/scheduled}}>
    <a href="/debian/index_{{arch}}_scheduled.html"
       title="Show packages currently scheduled for testing on {{arch}}">
      Scheduled
    </a> for {{arch}}
  </li>
  <li {{#dd_list}}class='active'{{/dd_list}}>
    <a href="/debian/{{suite}}/index_dd-list.html"
       title="Show maintainers of unreproducible packages in {{suite}}">
      Maintainers of <img src="/static/weather-showers-scattered.png"
                          alt="Unreproducible packages">
    </a> in {{suite}}
  </li>
</ul>
<ul class="menu new-menu">
  <h4>Reproducible Debian overview</h4>
  <li {{#dashboard}}class='active'{{/dashboard}}>
    <a href="/debian/">Dashboard</a>
  </li>
  <li {{#issues}}class='active'{{/issues}}>
    Categorized <a href="/debian/index_issues.html">issues</a>
  </li>
  <li {{#bugs}}class='active'{{/bugs}}>
    <a href="/debian/index_bugs.html">Bugs filed</a>
  </li>
  <li {{#variations}}class='active'{{/variations}}>
    <a href="/debian/index_variations.html">Variations tested</a>
  </li>
  <li {{#notify}}class='active'{{/notify}}>
    <a href="/debian/index_notify.html" title="notify icon">
      Packages with notifications enabled ⚑
 </a>
  </li>
  <li {{#repositories}}class='active'{{/repositories}}>
    <a href="/debian/index_repositories.html">
      Repositories overview
    </a>
  </li>
  <li><ul>Backend related
    <li {{#breakages}}class='active'{{/breakages}}>
      <a href="/debian/index_breakages.html">Broken pieces</a>
    </li>
    <li {{#jenkins-docs}}class='active'{{/jenkins-docs}}>
      <a href="https://jenkins.debian.net/userContent/about.html#_reproducible_builds_jobs"
      target="_blank">Documentation</a><br />
      (eg. on manual scheduling)
    </li>
    <li {{#performance}}class='active'{{/performance}}>
      <a href="/debian/index_performance.html">Performance stats</a>
    </li>
    <li><ul>Health monitoring
      <li {{#nodes_health}}class='active'{{/nodes_health}}>
        <a href="/debian/index_nodes_health.html">node overview</a>
      </li>
      <li {{#job_health}}class='active'{{/job_health}}>
        <a href="/debian/index_job_health.html">job overview</a>
      </li>
      <li {{#nodes_daily_graphs}}class='active'{{/nodes_daily_graphs}}>
        <a href="/debian/index_nodes_daily_graphs.html">daily graphs</a>
      </li>
      <li {{#nodes_weekly_graphs}}class='active'{{/nodes_weekly_graphs}}>
        <a href="/debian/index_nodes_weekly_graphs.html">weekly graphs</a>
      </li>
      <li {{#nodes_monthly_graphs}}class='active'{{/nodes_monthly_graphs}}>
        <a href="/debian/index_nodes_monthly_graphs.html">monthly graphs</a>
      </li>
      <li {{#nodes_yearly_graphs}}class='active'{{/nodes_yearly_graphs}}>
        <a href="/debian/index_nodes_yearly_graphs.html">yearly graphs</a>
      </li>
    </ul></li>
  </ul></li>
</ul>
{{{project_links_html}}}
